EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=587
EMAIL_USE_SSL=false
EMAIL_USERNAME=your_mailru_login
EMAIL_PASSWORD=your_app_password_without_spaces
EMAIL_FROM_EMAIL=your_mailru_login
EMAIL_FROM_NAME=Momentum
